<div th:fragment="notificaciones (notificaciones)">

  <head>
    <th:block th:replace="fragments/head.html :: header" />
  </head>

  <body class="general">

    <!-- Header -->
    <header>
      <div th:replace="fragments/navigation.html :: modalBar(nombrePagina='NOTIFICACIONES')"></div>
    </header>

    <!-- Lista de notificaciones -->
    <div id="divNotificaciones" class="w3-container" th:each="notificacion: ${notificaciones}">

      <div class="w3-card-4 w3-round w3-margin-top w3-margin-bottom">

        <!-- Boton eliminar-->
        <div th:attr="data-id=${notificacion.id}" class="eliminaNotificacion w3-container w3-pale-blue w3-button w3-large w3-right" onclick="this.parentElement.style.display='none'">X</div>
        
        <!-- Descripcion -->
        <div class="w3-container w3-pale-blue w3-row w3-center">
          <h1 th:text="${notificacion.descripcion}"></h1>
        </div>

        <!-- Fecha enviado -->
        <div class="w3-container w3-pale-blue w3-center">
          <p th:text="${#temporals.format(notificacion.fechaEnviado,'dd-MM-yyyy')}"></p>
        </div>

      </div>

    </div>

    <!-- No hay notificaciones -->
    <div id="divNotificaciones" class="w3-container" th:if="${#lists.isEmpty(notificaciones)}">
      <div class="w3-card-4 w3-round w3-margin-top w3-margin-bottom">
        <h3 class="w3-center w3-padding">No hay notificaciones</h3>
      </div>
    </div>
	

  </body>
  
</div>