.score {
	margin: 3px;
}

.brand{
    font-family: Aclonica;
    height: 52px;
    width: 100%;
    margin-left: 3%;
    text-align: left;
    font-size: x-large;
	margin:auto;
}

.box {
	width: 25% !important;
	box-shadow: 0 1px 3px -2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    border-radius: 20px !important;
    margin: 2% !important;
    padding: 1% !important;
    background-color: #f9f9f9c4 !important;
    border: solid 1pt lightgrey !important;
	min-height: 410px !important;
}

.info{
	background-color: #f9f9f9c4!important;
    padding: 2%;

}

.imagen {
	width: 100%;
    text-align: center;
}

.title{
	height: 100px;
    background-color: #6ed1dd;
	display: block;
}

.imgPerfilBusqueda{
  height: 20em;
  width:80%;
}


.imagen {
	width: 100%;
  text-align: center;
}



